<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="ion-filing"></span>
            Merge PDF's
        </div>
        <div class="panel-body">
            <div class="list-group">
                <h5>Drag & drop for merge order</h5>
                <ul data-ng-model="pdfFiles" class="list-group" style="cursor:move;" data-as-sortable="board.dragControlListeners">
                    <li class="list-group-item" data-ng-repeat="file in pdfFiles" data-as-sortable-item>
                        <div data-as-sortable-item-handle>{{file.filename}}</div>
                    </li>
                </ul>
            </div>
            <form class="form" method="post" ng-submit="mergeDownload(pdfFiles)" name="mergeForm">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" name="addBlankPage">Add blank page to documents with odd number of pages
                    </label>
                    <span class="ion-information-circled"
                          bs-popover="tooltips"
                          data-placement="right"
                          data-content="{{tooltips.blankPage.content}}"
                          data-animation="am-flip-x"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" name="addTitlePage">Insert title page between documents
                    </label>
                    <span class="ion-information-circled"
                          bs-popover="tooltips"
                          data-placement="right"
                          data-content="{{tooltips.titlePage.content}}"
                          data-animation="am-flip-x"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Merge PDF's</button>
            </form>
        </div>
    </div>
</div>