<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="ion-filing"></span>
            Merge PDF's
        </div>
        <div class="panel-body">
            <div class="list-group">
                <h5>Order</h5>
                <ul data-ng-model="items" class="list-group" style="cursor:move;" data-as-sortable="board.dragControlListeners">
                    <li class="list-group-item" data-ng-repeat="file in pdfFiles | filter: {contentType: 'application/pdf' }" data-as-sortable-item>
                        <div data-as-sortable-item-handle>{{file.filename}}</div>
                    </li>
                </ul>
            </div>
            <form class="form" method="post" ng-submit="mergeDownload()" name="mergeForm">
                <input type="radio" name="blankPages">Add blank page to documents with odd number of pages
                <br>
                <input type="radio" name="titlePages">Insert title page between documents
                <br>
                <button type="submit" class="btn btn-primary btn-sm" ng-click="mergeDownload()">Merge PDF's</button>
            </form>
        </div>
    </div>
</div>